<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Price:</strong>
  <%=  "$" + "#{@article.price}" %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<%= link_to("<<Back", category_path(@article.category)) %>