<h2>All Categories</h2>

<table class="table">
  <tr>
    <th>Name</th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to(category.name, category) %></td>
    </tr>
  <% end %>
</table>

<div id="new-article-container">
  <%= link_to("Create New Article", new_article_path, remote: true, id: "new-article-link") %>
</div>
